{% extends 'menu.html' %}
{% load static %}
<!doctype html>
<html lang="en">

{% block head %}
  {{ block.super }}
{% endblock %}
  <body>
    {% block pagename %}
      {{ block.super }}
    {% endblock %}

    {% block menu %}
      {{ block.super }}
    {% endblock %}

    {% block content %}
    <div class="container-sm text-center">
        <p></p>
        <div class="row justify-content-center ">
            <div class="card" style="width: 16rem;">
                <img src="{% static 'images/beer1' %}" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title">Golden Hour Ale</h5>
                <p class="card-text">Название, которое вызывает ассоциации с теплым светом заката и освежающим вкусом светлого пива</p>
                <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img src="{% static 'images/beer2' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Hoppy Trails</h5>
                <p class="card-text">Игра слов на "happy trails", подчеркивающая хмелевой вкус и приключенческий дух авантюриста.</p>
                <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img src="{% static 'images/beer3' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Amber Waves</h5>
                <p class="card-text">Отсылка к цвету янтарного пива и природным пейзажам, что делает его подходящим для эля или лагеря.</p>
                <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
            <div class="card" style="width: 16rem;">
                <img src="{% static 'images/beer4' %}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Dark Velvet</h5>
                <p class="card-text">Темное пиво с нотами шоколада и кофе, насыщенное и ароматное, идеально для уютных вечеров c друзьями.</p>
                <a href="#" class="btn btn-primary">Купить</a>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="container text-center">
        <p></p>
        <a href="/main/" type="button" class="btn btn-success">Вернуться на главную</a>
    </div>
    {{ block.super }}
    {% endblock %}
  </body>
</html>
